header.header-section
    .container.header-section__container
        a(href="https://gubinvs.ru").logo-block
            img(src="../img/supply-page/logogvs_1280.png", alt="Логотип").logo-img
            .logo-border
            .logo-title Менеджмент
        nav.nav-header-list 
            a(href="lean.html").nav-header-list__item СМК
            a(href="labor.html").nav-header-list__item СУОТ
            a(href="supply.html").nav-header-list__item СУСиЗ
        .burger-room-block
            div(id="burger").burger
                span
            .burger_close.none-block
                span
            .room-butom Личный кабинет
    .container.nav-header-list__active
        .nav-block-active.none-block
            a(href="lean.html").nav-header-list__item_active
                .nav-header-list__item Система менеджмента качества
            a(href="labor.html").nav-header-list__item_active
                .nav-header-list__item Система управления охраной труда
            a(href="supply.html").nav-header-list__item_active
                .nav-header-list__item Система управления снабжением и закупками