header.heder-section
    .container.heder-section__container
        a(href="https://gubinvs.ru").logo-block
            img(src="../img/supply-page/logogvs_1280.png", alt="Логотип").logo-img
            .logo-border
            .logo-title Менеджмент
        nav.nav-header-list 
            .nav-header-list__item СМК
            .nav-header-list__item СУОТ
            .nav-header-list__item СУСиЗ
        .burger-room-block
            .burger
                span
            .room-butom Личный кабинет