header.header-section
    .container.header-section__container
        a(href="https://gubinvs.ru").logo-block
            img(src="../img/supply-page/logogvs_1280.png", alt="Логотип").logo-img
            .logo-border
            .logo-title Менеджмент
        nav.nav-header-list 
            .nav-header-list__item СМК
            .nav-header-list__item СУОТ
            .nav-header-list__item СУСиЗ
        .burger-room-block
            .burger
                span
            .room-butom Личный кабинет
    .container.nav-header-list__active
        .nav-block-active
            .nav-header-list__item.nav-header-list__item_active Система менеджмента качества
            .nav-header-list__item.nav-header-list__item_active Система управления охраной труда
            .nav-header-list__item.nav-header-list__item_active Система управления снабжением и закупками
