section.labor-control-section
    .container.labor-control-section__container 
        h2.labor-control-section__title Контроль функционирования СУОТ
        .labor-control-section__discr С целью соблюдения условий на рабочих местах, дисциплины персонала, соответствия производственного процесса принятым стандартам и нормативным актам.
        .labor-control-section__slogan.labor-control-section__slogan_light КУРИРУЕМ 3-Х СТУПЕНЧАТУЮ
        .labor-control-section__slogan СИСТЕМУ КОНТРОЛЯ ФУНКЦИОНИРОВАНИЯ СУОТ
        img(src="../../img/labor-page/labor-control-section__img.png", alt="Инспектор девушка проверяет по чек-листу").labor-control-section__img