@import '../variables/variables.scss';

.step-section {
    display: flex;
    max-width: 1280px;
    padding-bottom: 80px;
}

.discription-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-title__step-section {
    padding-left: 48px;
}

.discription-card {
    padding-bottom: 50px;
    width: 320px;
    border: 1px solid #b9b9b9;
    margin-bottom: 20px;
}

.discription-card:not(:last-of-type) {
    margin-right: 20px;
}

.discription-card__img {
    width: 320;
    height: 260px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
}

.discription-card__img1 {
    background-image: url(../../img/step-section/card-content__img1.jpg);
}

.discription-card__img2 {
    background-image: url(../../img/step-section/card-content__img2.jpg);
}

.discription-card__img3 {
    background-image: url(../../img/step-section/card-content__img3.jpg);
}

.discription-card__title {
    padding-left: 20px;
    padding-right: 10px;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size:  24px;
    line-height: 30px;
    margin-bottom: 20px;
}

.discription-card__discr {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

@media only screen and (max-width: 1024px) {
    .discription-block {
        justify-content: flex-start;
    }

    .content-title__step-section {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .discription-card:not(:last-of-type) {
        margin-right: 0px;
    }

    .discription-card {
        margin-right: 0px;
    }

    .discription-card:nth-child(1) {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .discription-block {
        justify-content: center;
    }

    .content-title__step-section {
        padding-left: 20px;
    }

    .discription-card:nth-child(1) {
        margin-right: 0px;
    }
}