//-- сброс стилей
@import '../variables/normalize.scss';

.index-adaptation-section__title-block {
    justify-content: flex-start;
}

.index-adaptation-section__img {
    top: 120px !important;
    left: 20px;
}

.index-adaptation-section__discription-block {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 137px;
    padding-top: 132px;
}

.title-block__line-left_iadsec {
    padding-left: 0px;
}

.title-block__title_iadsec {
    margin-right: 20px;
}

.content__title_adaptation-section {
    margin-bottom: 36px;
}

.content-list__item {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.content-list__item {
    padding-left: 80px;
    padding-right: 40px;
    
    background-repeat: no-repeat;
    background-position: left;
}

.content-list__item:not(:last-of-type) {
    margin-bottom: 20px;
}

.content-list__item1 {
    background-image: url(../../img/index-page/adap-bc-item__img.svg);
}

.content-list__item2 {
    background-image: url(../../img/index-page/adap-bc-item__img2.svg);
}

.content-list__item3 {
    background-image: url(../../img/index-page/adap-bc-item__img3.svg);
}

.red-line__text_adaptation-section {
    top: 340px;
    right: -94px;
}

@media only screen and (max-width: 1280px) {
    .discription-block__content__iadsec {
        width: 65% !important;
    }
 
}

@media only screen and (max-width: 1024px) {
    .discription-block__content__iadsec {
        width: 80% !important;
    }

    .index-adaptation-section__discription-block {
        padding-right: 0px;
        padding-top: 0px;
    }
    

}

@media only screen and (max-width: 768px) {
    .discription-block__content__iadsec {
        width: 100% !important;
    }

    .title-block__line-left_iadsec {
        width: 90px !important;
    }
 
}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 360px) {

}