.step-section {
  display: flex;
  max-width: 1280px;
  padding-bottom: 80px;
}

.discription-block {
  display: flex;
  justify-content: center;
}

.content-title__step-section {
  padding-left: 48px;
}

.discription-card {
  padding-bottom: 40px;
  width: 320px;
  height: 480px;
  border: 1px solid #b9b9b9;
}

.discription-card:not(:last-of-type) {
  margin-right: 20px;
}

.discription-card__img {
  width: 315;
  height: 210px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 50px;
}

.discription-card__img1 {
  background-image: url(../../img/step-section/card-content__img4.png);
}

.discription-card__img2 {
  background-image: url(../../img/step-section/card-content__img5.png);
}

.discription-card__img3 {
  background-image: url(../../img/step-section/card-content__img6.png);
}

.discription-card__title {
  padding-left: 20px;
  padding-right: 10px;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}

.discription-card__discr {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}