//-- сброс стилей
@import '../variables/normalize.scss';

.index-regulation-section {
    margin-bottom: 132px;
}

.title-block_index-regulation-section {
    justify-content: flex-end;
    margin-bottom: 120px;
}

.title-block__title_irs {
    padding-left: 0px !important;
    margin-right: 20px;
}

.discription-block-irs {
    justify-content: flex-start;
    padding-left: 160px;
}

.index-regulation-section__img {
    top: 200px;
    right: 20px;
}

.content-list__item_regulation {
    padding-left: 44px !important;
    background-image: url(../../img/index-page/check-circle.svg);
}

.border-block_regulation-section {
    flex-direction: row-reverse;
    left: 0px;
    right: initial; // -- сброс свойства путем применения значения по умолчанию, которое null
    // -- right: inherit; // -- сбрасываю свойство унаследовав его у родителя, так как оно у родителя не определено.
}

.border-block__black-line_regulation-section {
    margin-right: 0px;
}

.border-block__red-line_regulation-section {
    margin-right: 20px;
}

.red-line__text_regulation-section {
    top: 334px;
    left: -170px;
    right: initial;
}

@media only screen and (max-width: 1280px) {
    .discription-block-irs {
        padding-left: 140px;
    }
}

@media only screen and (max-width: 1024px) {
    .title-block__line-left_irs {
        width: 90px;
    }

    .discription-block-irs {
        padding-left: 165px;
    }
}

@media only screen and (max-width: 768px) {
    .title-block__line-left_irs {
        height: 10px;
    }

    .content-block-irs {
        padding-top: 20px !important;
    }

    .discription-block-irs {
        padding-left: 0px;
    }

    .title-block_index-regulation-section {
       margin-bottom: 50px !important;
    }

    .content-list__item_regulation {
        font-size: 20px;
        line-height: 24px;
    }


}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 360px) {
  
}