.discription-card
    .discription-card__img.discription-card__img1
    .discription-card__title Распределение <br> ролей и полномочий 
    .discription-card__discr Для ускорения решения задач и коммуникации сотрудников, определяются ответственные и границы их полномочий.