.discription-card
    .discription-card__img.discription-card__img3 
    .discription-card__title Внедрение <br> бизнес-аналитики
    .discription-card__discr Определяются параметры оценки качества выполнения бизнес-процессов и вовлеченности персонала в процесс.