.discription-card
    .discription-card__img.discription-card__img2
    .discription-card__title Стандартизация <br> бизнес-процессов 
    .discription-card__discr Регламентируются способы, последовательность и сроки выполнения технологических операций.