section.step-section     
    .content-block
        .container
            h3.content__title.content__title_adaptation-section Секрет эффективной компании
            .discription-block
                include discription-card1.pug 
                include discription-card2.pug
                include discription-card3.pug