section.index-task-section 
    .title-block.title-block__task-section
        .title-block__line-left.title-block__line-left_task
        h2.title-block__title Решаем следующие задачи
    .container
        .index-task-block   
            .index-task-card  
                img(src="../../img/index-page/task-icon_1.svg", alt="Силует человека с увеличительным стеклом").index-task-card__icon 
                .index-task-card__content Обеспечиваем соответствие <br> ГОСТ Р ИСО 9001-2015
            .index-task-card  
                img(src="../../img/index-page/task-icon_3.svg", alt="Силует человека с книгой в руках").index-task-card__icon 
                .index-task-card__content Обеспечиваем стабильное качество выпускаемой продукции
            .index-task-card  
                img(src="../../img/index-page/task-icon_2.svg", alt="Веселый смайлик").index-task-card__icon 
                .index-task-card__content Увеличиваем количество довольных клиентов
            .index-task-card  
                img(src="../../img/index-page/task-icon_4.svg", alt="Силуэты нескольких людей плечем к плечу").index-task-card__icon 
                .index-task-card__content Притягиваем сотрудников с высокими компетенциями
        h2.content__title.content__title_adaptation-section Примеры кейсов
        .case-block
            .case-block__card
                .case-block-card__action
                    .action__title Сделали
                    .action__discr Внедрили систему входного контроля сырья, маркировку его по результатам контроля, а при не соответствии входных параметров помещение сырья в изолятор брака.
                img(src="../../img/index-page/case-card-icon.svg", alt="стрелка в круглешке направлением направо").case-block-card__icon
                .case-block-card__result
                    .result__title Результат
                    .result__discr Исключили использование сырья и комплектующих несоответсвующих заданным параметрам, получили стабильное качество выпускаемой продукции.
            .case-block__card
                .case-block-card__action
                    .action__title Сделали
                    .action__discr Внедрили систему неснижаемого запаса сырья и материалов, применив инструмент бережливого производства - вытягивание со склада.
                img(src="../../img/index-page/case-card-icon.svg", alt="стрелка в круглешке направлением направо").case-block-card__icon
                .case-block-card__result
                    .result__title Результат
                    .result__discr Обеспечили соблюдение сроков выпускаемой продукции, за счет своевременного наличия на сладах необходимого сырья, материалов и комплектующих.
            .case-block__card
                .case-block-card__action
                    .action__title Сделали
                    .action__discr Внедрили систему горизонтальной ротации кадров, персонал осваивал смежные профессии, работая на разных производственных участках.
                img(src="../../img/index-page/case-card-icon.svg", alt="стрелка в круглешке направлением направо").case-block-card__icon
                .case-block-card__result
                    .result__title Результат
                    .result__discr Обеспечили ретмичность циклов производства, за счет исключения случаев простоя производственных участков из-за отсутствия персонала.
