section.index-audit-section
    img(src="../../img/index-page/audit__img.png", alt="Карта пропуск для посещения").index-audit-section__img
    .content-block.content-block-ias
        .title-block.title-block-ias
            .title-block__line-left.title-block__line-left_ias
            h2.title-block__title Аудит
    .container
        .discription-block.index-audit-section__discription-block
            .discription-block__icon-list
                img(src="../../img/index-page/audit-block-content__item1.svg", alt="Иконка с изображением структуры компании").discription-block__icon-item 
                img(src="../../img/index-page/audit-block-content__item2.svg", alt="Иконка с прицелом на личность").discription-block__icon-item 
                img(src="../../img/index-page/audit-block-content__item3.svg", alt="Иконка с окном браузера и шестеренкой для настройки").discription-block__icon-item
            .discription-block__content
                .content__title Анализируем существующие бизнес-процессы
                .content__discr.content__discr_ias На время становимся частью вашей команды, изучаем как выстроены бизнес-процессы, выявляем проблемные места и разрабатываем план изменений.
    .border-block
        .border-block__black-line 
        .border-block__red-line  
    .red-line__text Дорожная карта


    


