section.index-main-section
    .container
        .discriptin-block
            .block-list
                .discriptin-block__list 
                    h3.list__title Мы обеспечиваем <br>своим присутствием
                    .list__item Командную работу
                    .list__item Стандартизацию процессов
                    .list__item Выявление и устранение потерь
                    .list__item Постоянное совершенствование