section.supply-accounting-section
    .supply-accounting-section__block-img 
        .sas-block-img__border
        img(src="../img/supply-page/iMac.png", alt="Компьютер с программой 1с на мониторе").sas-block-img__img
    .supply-accounting-section__block-content
        .supply-title-block.supply-title-block__accounting-section
            .supply-title-block__border.supply-accounting-section__title-border
            h2.supply-title-block__text.supply-title-block__text_accounting-section Мы ведем учет <br> в 1С УНФ
        .block-content
                .supply-outsourcing__discr Все операции закупочных процедур, такие как:
                .supply-outsourcing__discr.outsourcing-discr__list
                    .outsourcing-discr__item Учет номенклатуры в 1C
                    .outsourcing-discr__item Заказы поставщикам 
                    .outsourcing-discr__item Оприходование на склад, перемещение в производство
                    .outsourcing-discr__item Оформление операций - выпуск готовой продукции
                    .outsourcing-discr__item.accounting-discr__item Расчет фактической себестоимости готовой продукции
                .supply-outsourcing__discr.supply-outsourcing__discr_accounting-section Все это наша забота!