//- Подключил шаблон с разметкой страницы
extends doctypes.pug

//- Изменил название страницы
block doctype
    //- Описание страницы в head discription
    - var contentDiscription = 'Идеология организации бизнес-процессов, направленная на исключение производственных потерь, которые являются причиной брака и увеличением издержек';
    //- Наименование главной страницы
    - var titleName = 'Внедрение идеологии бережливого производства, систематизация и стандартизация бизнес-процессов';
    //- Массив с путями к файлам со стилями
    - var stylePath = [];
    //-- указывает поисковому роботу адрес главной страницы среди группы страниц дублей
    - var canonical = '';


//- Вставил блок с будующим контентом
block content
    //--include html/header.pug 
    main
        //--h1(class="visually-hidden h1-visually", style="visibility: hidden;").h1__visually Внедрение идеологии бережливого производства
        //--include html/index-page/index-main-section.pug
        //--include html/index-page/index-step-section.pug
        //--include html/index-page/index-audit-section.pug
        include html/index-page/index-regulation-section.pug 
        //--include html/index-page/index-adaptation-section.pug
        //- include html/index-page/index-task-section.pug
        //- include html/supply-page/supply-request-section.pug
    //- include html/footer.pug 
    //--script(src="js/app.js")
    //--script(src="js/modules/burger-action.js")