//- Подключил шаблон с разметкой страницы
extends doctypes.pug

//- Изменил название страницы
block doctype
    //- Описание страницы в head discription
    - var contentDiscription = 'Внедрение системы управления охраной труда в компании';
    //- Наименование главной страницы
    - var titleName = 'Система управления охраной труда (СУОТ)';
    //- Массив с путями к файлам со стилями
    - var stylePath = [];
    //-- указывает поисковому роботу адрес главной страницы среди группы страниц дублей
    - var canonical = '';


//- Вставил блок с будующим контентом
block content
    include html/header.pug
    main 
        include html/labor-page/labor-main-section.pug 
        include html/labor-page/labor-suot-section.pug
    script(src="js/modules/burger-action.js")
    