//-- переменные
@import 'variables/variables.scss';

.header-section__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 8px;
    margin-bottom: 8px;
}

.logo-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.logo-img {
    margin-right: 12px;
}

.logo-border {
    width: 2px;
    height: 40px;
    background-color: $textColor;
    margin-right: 12px;
}

.nav-header-list {
    display: flex;
}

.nav-header-list__item {
    font-size: 22px;
    line-height: 25px;
    font-weight: 400;
    color: $textColor;
    padding-left: 28px;
    background-image: url(../img/index-page/tb-list-item__check-img_480.png);
    background-repeat: no-repeat;
    background-position: left;
}

.nav-header-list__item:not(:last-of-type) {
    margin-right: 22px;
}

.nav-header-list__item:hover {
    color: $borderColorMax;
}

.burger-room-block {
    display: flex;
    align-items: center;
}

.room-butom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 4px;
    width: 150px;
    height: 50px;
    font-size: 14px;
    background-image: url(../img/buton-room-icon.png);
    background-repeat: no-repeat;
    background-position: 8px center;
    background-color: $borderColorMax;
    color: $textContactblokColor;
}

.burger {
    position: relative;
    display: block;
    width: 40px;
    height: 30px;
    margin-right: 12px;
    cursor: pointer;
}

.burger::before,
.burger::after {
    content: " ";
    position: absolute;
    width: 40px;
    height: 4px;
    left: 0;
    background-color: $textColor;
}

.burger span {
    position: absolute;
    top: 13px;
    width: 40px;
    height: 4px;
    left: 0;
    background-color: $textColor;
}

.burger::before {
    top: 0px;
}

.burger::after {
    bottom: 0px;
}

.burger_close {
    position: relative;
    width: 40px;
    height: 30px;
    margin-right: 12px;
}


.burger_close::before,
.burger_close::after {
    content: " ";
    position: absolute;
    width: 40px;
    height: 4px;
    left: 0;
    background-color: $textColor;
}

.burger_close::before {
    top: 13px;
    transform: rotate(-45deg);
}

.burger_close::after {
    bottom: 13px;
    transform: rotate(45deg);
}

.nav-header-list__active {
    display: flex;
    justify-content: flex-end;
    padding-right: 162px;
    margin-bottom: 50px;
}

.nav-block-active {
    display: inline-block;
    width: 650px;
    padding: 20px 50px 20px 50px;
    border: 1px solid $borderColorMax;
}

.nav-header-list__item_active {
    display: block;
    margin-bottom: 8px;
}

.none-block {
    display: none;
}


@media only screen and (max-width: 1024px) {
    .nav-header-list {
        display: none;
    }

    .nav-header-list__active {
        padding-right: 0px;
    }

} 

@media only screen and (max-width: 768px) {
    .room-butom {
        display: none;
    }    
    
    .logo-border, 
    .logo-title {
        display: none;
    }

    .nav-header-list__item {
        font-size: 16px;
    }

    .nav-block-active {
        width: 100%;
        padding: 10px 20px 10px 10px;
    }
}

@media only screen and (max-width: 480px) {
    .nav-header-list__item {
        font-size: 14px;
    }
}
