//-- Шрифты
// $ff-title: 'Roboto Condensed', sans-serif;
$ffTitle: 'Days One', 'Roboto Condensed', sans-serif;
$ffWindowsPhone: 'Roboto Condensed', sans-serif;
$ffTextBady: 'Mulish', sans-serif;


//-- Цветовая палитра проекта
// $color_light-blue: #E3E6E8;
$bgColorBady: #F7F7F7;
$titleColor: #000000;
$borderColorMax: #8E0532;
$borderColorMin: #242424;
$textColor: #000000;
$borderColor: #B3A99B;
$textContactblokColor: #FFFFFF;








